<h1>Pick your Fighter</h1>
<div class="container d-flex justify-content-around">
  <div class="hover_character">
    <%= image_tag "question_mark.png", height: 400, width: 400, crop: :fill %>
    <p>Strength: ?</p>
    <p>Defense: ?</p>
  </div>
  <div class="all_characters">
    <% @fighters.each do |fighter| %>
      <div class="character_card">
        <% if fighter.photo.key %>
          <%= cl_image_tag fighter.photo.key, height: 100, width: 100, crop: :fill %>
          <%= fighter.name %>
        <% else %>
          <%= image_tag "question_mark.png", height: 100, width: 100, crop: :fill %>
          <%= fighter.name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%# <%= link_to "delete", fighter_path(@fighter), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%# <%= link_to "edit", edit_fighter_path(@fighter) %>
<%# <%= link_to "new", new_fighter_path %>
