<div class="container-body-index">
  <h1>PICK YOUR FIGHTER</h1>
  <div class="select-screen-container" data-controller="hover">
    <div class="hover_character">
      <div class="yugioh-card" data-hover-target="card">
        <p data-hover-target="name" class="fighter name">Unknown Fighter</p>
        <div class="fighter-image">
          <%= image_tag "question_mark.png", data: {hover_target: "image"} %>
        </div>
        <div class="fighter-info">
          <div class="description">
            <p data-hover-target="description"></p>
          </div>
          <div class="stats">
            <p data-hover-target="strength"><i class="fa-solid fa-hand-fist" style="color: #000000;"></i> ?</p>
            <p data-hover-target="defense"><i class="fa-solid fa-shield" style="color: #000000;"></i> ?</p>
            <p data-hover-target="speed"><i class="fa-solid fa-person-running" style="color: #000000;"></i> ?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="character-select">
      <div class="search-bar">
        <div class="row justify-content-center">
          <div class="col-sm-8 my-3">
            <%= form_with url: fighters_path, method: :get, class: "d-flex" do %>
              <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Type a keyword"
                %>
              <%= submit_tag "Search", name: "", class: "btn search-button" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="all-characters">
        <!-- New figther as top-left icon -->
        <%= link_to new_fighter_path do %>
          <div class="character-card new">
            </div id="icon">
              <i class="fa-solid fa-circle-plus" style="color: #000000;"></i>
            <div>
            <p>Create</p>
          </div>
        <% end %>
        <!-- Card Item for each fighter -->
        <% @fighters.each do |fighter| %>
        <%= link_to fighter_path(fighter) do %>
          <div class="character-card existing" data-action="mouseover->hover#updateHover"
              data-image="<%=  fighter.photo.key ? "#{cl_image_path fighter.photo.key}" : "#{image_path "question_mark.png"}" %>"
              data-name="<%= fighter.name%>"
              data-strength="<%= fighter.strength %>"
              data-defense="<%= fighter.defense %>"
              data-speed="<%= fighter.speed %>"
              data-asseturl="<%= asset_url("card-#{fighter.rating.downcase}.png")%>"
              data-description="<%= fighter.description %>"
              >
            <% if fighter.photo.key %>
              <%= cl_image_tag fighter.photo.key, height: 120, width: 120, crop: :fill, class: "avatar-select" %>
            <% else %>
              <%= image_tag "question_mark.png", height: 120, width: 120, crop: :fill, class: "avatar-select" %>
            <% end %>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

<%# <%= link_to "delete", fighter_path(@fighter), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%# <%= link_to "edit", edit_fighter_path(@fighter) %>
<%# <%= link_to "new", new_fighter_path %>
